<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/firebase-element/firebase-collection.html">
<link rel="import" href="../bower_components/firebase-element/firebase-auth.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="chat-widget">
  <template>
    <style>

      @media screen (max-width: 320px) {
        .container {
          padding: 0px;
        }
      }

      :host { display : block; }
      
      #toast {
                                                --paper-toast-background-color: #880000;
                                    --paper-toast-color: white;
                                  }

                                  #container {
                                                padding: 1em;
                                  }

                                  .flex-container {
                                                @apply(--layout-vertical);
                                  }

                                  .flexchild {
                                                @apply(--layout-flex);
                                  }

                                  .list-box {
                                                height: 250px;
        resize: vertical;
        border: solid 1px var(--google-grey-300);
                                                overflow: auto;
                                  }

                                  .list-item {
                                                padding: 1em;
                                  }

                                  h4, h5 {
                                                margin: 0px;
                                  }

      .who {
        font-weight: bold;
      }

      .when {
        font-size: 70%;
      }

     div.list-item:nth-child(even) {
        color: var(--google-blue-300);
        border-top: solid 1px var(--google-blue-100);
        border-bottom: solid 1px var(--google-blue-100);
      }

      div.list-item:last-child {
        border-bottom: solid 5px var(--google-red-100);
      }

      paper-icon-button {
        position: relative;
        bottom: -20px;
      }

    </style>
    
    <firebase-auth
                auto-login
                redirect
      location="[[firebaseURL]]"
      provider="[[firebaseProvider]]"
      on-error="_onFirebaseError"
      on-login="_onFirebaseLogin"
      user="{{user}}"
      data="{{chats}}">
    </firebase-auth>

    <div id="container">

                <h3>Welcome to [[source]]/[[room]]!! ([[chats.length]] chat items)</h3>
    
                <div id="chatbox" class="list-box" role="listbox">

                                <template is="dom-repeat" items="{{chats}}" as="chat">
          <div class="list-item">
            <div class="container flex-container">
              <div class="flexchild who">[[chat.who]]</div>
              <div class="when">[[chat.when]]</div>
            </div>
            <div>[[chat.what]]</div>
          </div>
        </template>
                                                
                                                </div>

                                                <form on-submit="_addChat" id="chatFrm">

                                                                <div class="container flex-container">
                                                                                <paper-input on-keypress="_checkPress" class="flexchild" length="{{chats.length}}" value="{{chatMessage}}" label="Your Message"></paper-input>
          <!-- <paper-icon-button icon="favorite" on-click="_addChat"></paper-icon-button> -->
                                                                </div>
                
                </form>

                    <paper-toast class="fit-bottom" id="toast"></paper-toast>

    </div>
    
  </template>
  <script>   
    Polymer( {
      is         : 'chat-widget',
      properties : { 
                source   : {
                                type   : String,
                                value  : function( ) { return ""; }
                },
                
                room     : {
                                type   : String,
                                value  : function( ) { return ""; }
                },

                chats    : {
                                type   : Array,
                                notify : true,
                                value  : function( ) { return [ ]; }
                },
                
                user     : {
                                type   : Object,
                                value  : function( ) { return { }; }
                },

        height      : Number,
                chatMessage : String
      },
      
      ready      : function( ) {
                this.firebaseURL      = "https://e-chat-widget.firebaseio.com";
                this.firebaseProvider = "google";
      },

      _onFirebaseLogin : function( e ) {
                var _this = this;
                this.ref  = new Firebase( this.firebaseURL + "/" + this.source + "/" + this.room );

                this.ref.on( 'child_added', function( snapshot ) {
          var chatItem = snapshot.val( );
          chatItem.id  = snapshot.key( );
          _this.push( "chats", chatItem );

          var t = setTimeout( function( ) {
            _this._scrollDiv( );
          }, 100 );
          
        } );

      },

      _addChat : function( event ) {
        var _this = this;

                event.preventDefault( );

                if( this.chatMessage !== "" ) {
                                var date = new Date( ), now = date.toString( );
                                                  
                                                                  this.ref.push( {
                                                                                who  : _this.user.google.displayName,
                                                                                when : now,
                                                                                what : this.chatMessage
                                                                }, function( ) {
            _this.chatMessage = "";
            _this._scrollDiv( );
          } );
                }
                                                  
      },

      _onFirebaseError : function( e ) {
                this.$.errorToast.text = event.detail.message;
                                                this.$.errorToast.show( );
      },

      _checkPress : function( event ) {
        if( event.key === "Enter" ) {
          this._addChat( event );
        }
      },

      _scrollDiv : function( ) {
                var div       = this.$.chatbox;
                div.scrollTop = ( div.scrollHeight - div.clientHeight );
      }

    } );
  </script>
</dom-module>
