<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/scale-down-animation.html">
<dom-module id="tool-block">
  <template>
    <style>
      paper-card {
        margin: 20px;
        width: 400px;
        --paper-card-header-color: white;
      }
      p {
        font-size: 75%;
        color: #333;
      }
      paper-button {
        width: 100px;
      }
    </style>
    <paper-card elevation="2" heading="{{tool.toolname}}" image="{{tool.image}}">
      <div class=card-content>
        <p>{{tool.description}}</p>
      </div>
      <div class="card-actions">
        <a href="{{tool.link}}"><paper-button>Go to</paper-button></a>
        <paper-button onclick="clickHandler(event)" data-dialog="dialog">Info</paper-button>
      </div>
    </paper-card>
    
    <paper-dialog id="dialog" role="dialog" modal="true" entry-animation="scale-up-animation" exit-animation="scale-down-animation">
      <h2>Header</h2>
      <p>Lorem ipsum dolor sit amet, altera epicurei perpetua te vix, usu in omittantur disputationi, eos corpora fastidii persecuti eu? Est ex wisi possim. Eum dictas quaestio sententiae ei. Tempor iriure ornatus nec no? Lobortis explicari ea vis.<br><br>Usu atomorum corrumpit eu. An mel option volutpat, per velit indoctum ea, vis no ceteros detracto pertinacia? No per justo alienum noluisse, id sint legimus argumentum his, modus possim phaedrum no eum. Quo ridens omnium constituto ea, an sea corpora voluptua laboramus! Sed id facilis ancillae, usu et commodo viderer appareat, ius cu malorum prompta. His ad nihil everti.</p>
      <div class="buttons">
        <paper-button dialog-dismiss>Close</paper-button>
      </div>
    </paper-dialog>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'tool-block',
    behaviors: [
      Polymer.NeonAnimationRunnerBehavior
    ],
    animationConfig: {
        type: Object,
        value: function() {
          return {
            'entry': [{
              name: 'scale-up-animation',
              node: this
            }],
            'exit': [{
              name: 'scale-down-animation',
              node: this
            }]
          }
        }
      }
  });
  
  
  function clickHandler(e) {
    var button = e.target;

    if (!button.hasAttribute('data-dialog')) {
      return;
    }

    var id = button.getAttribute('data-dialog');
    var dialog = document.getElementById(id);
    if (dialog) {
      dialog.open();
    }
  }

  
</script>
