<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="tool_block.html">
<dom-module id="tool-list">
  <template>
    <ul>
      <template is="dom-repeat" as="tool" items="{{tools}}">
        <tool-block tool="{{tool}}"></tool-block>
      </template>
    </ul>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'tool-list'
  });
</script>