<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="tool_data.html">
<link rel="import" href="tool_list.html">
<dom-module id="tool-view">
  <template>
    <tool-data tools="{{tools}}"></tool-data>
    <tool-list tools="{{tools}}"></tool-list>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'tool-view'
  });
</script>