<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="tool-data">
  <template>

  </template>
</dom-module>

<script>
  Polymer({
    is: 'tool-data',
    properties : {
      tools: {
        readOnly: true,
        notify: true,
        value: function() {
          return [
            {
              toolname: "Tool Name 1",
              image: "http://www.demilked.com/magazine/wp-content/uploads/2014/06/funny-pun-minimalistic-illustrations-nabhan-abdullatif-fb.jpg",
              link: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
              description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis gravida arcu, pharetra euismod justo convallis et. Sed venenatis consectetur."
            }, {
              toolname: "Tool Name 2",
              image: "http://www.demilked.com/magazine/wp-content/uploads/2014/06/funny-pun-minimalistic-illustrations-nabhan-abdullatif-fb.jpg",
              link: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
              description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis gravida arcu, pharetra euismod justo convallis et. Sed venenatis consectetur."
            }, {
              toolname: "Tool Name 3",
              image: "http://www.demilked.com/magazine/wp-content/uploads/2014/06/funny-pun-minimalistic-illustrations-nabhan-abdullatif-fb.jpg",
              link: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
              description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis gravida arcu, pharetra euismod justo convallis et. Sed venenatis consectetur."
            }, {
              toolname: "Tool Name 4",
              image: "http://www.demilked.com/magazine/wp-content/uploads/2014/06/funny-pun-minimalistic-illustrations-nabhan-abdullatif-fb.jpg",
              link: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
              description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis gravida arcu, pharetra euismod justo convallis et. Sed venenatis consectetur."
            }, {
              toolname: "Tool Name 5",
              image: "http://www.demilked.com/magazine/wp-content/uploads/2014/06/funny-pun-minimalistic-illustrations-nabhan-abdullatif-fb.jpg",
              link: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
              description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis gravida arcu, pharetra euismod justo convallis et. Sed venenatis consectetur."
            }, {
              toolname: "Tool Name 6",
              image: "http://www.demilked.com/magazine/wp-content/uploads/2014/06/funny-pun-minimalistic-illustrations-nabhan-abdullatif-fb.jpg",
              link: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
              description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis gravida arcu, pharetra euismod justo convallis et. Sed venenatis consectetur."
            }, {
              toolname: "Tool Name 7",
              image: "http://www.demilked.com/magazine/wp-content/uploads/2014/06/funny-pun-minimalistic-illustrations-nabhan-abdullatif-fb.jpg",
              link: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
              description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis gravida arcu, pharetra euismod justo convallis et. Sed venenatis consectetur."
            }, {
              toolname: "Tool Name 8",
              image: "http://www.demilked.com/magazine/wp-content/uploads/2014/06/funny-pun-minimalistic-illustrations-nabhan-abdullatif-fb.jpg",
              link: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
              description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis gravida arcu, pharetra euismod justo convallis et. Sed venenatis consectetur."
            }
          ];
        }
      }
    }
  });
</script>