<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="cur-weather">
  <link rel="import" type="css" href="./css/weather-icons.css">
  <template>
    <style>
      p {
        
      }
      #container {
        margin: 0;
        padding: 0;
        width: 300px;
      }
      #left {
        margin: 0;
        padding: 0;
        width:100px;
        position:relative;
        top: -12px;
        display: inline;
      }
      #right {
        position:relative;
        top: -85px;
        right: -170px;
        margin: 0;
        padding: 0;
        width:200px;
        height: 50px;
        font-size: 60%;
        color: #ddd;
        margin-right: 10px;
      }
    </style>
    <iron-ajax 
      auto
      url="http://api.openweathermap.org/data/2.5/weather"
      params="[[_getParams(lat, lon, appId, units)]]"
      handleAs="json"
      on-response="_handleResponse"></iron-ajax>
    <template is='dom-if' if=[[data]]>
      <div id="container">
        <div id="left">
          <h1><i class$="wi {{data.icon}}"></i>&#09;{{data.currentTemp}}&deg;F</h1>
        </div>
        <div id="right">
          <i>[[data.name]]</i>
          <br>
          Max: [[data.maxTemp]]&deg;F&#09;Min: [[data.minTemp]]&deg;F
          <br>
          Humidity: [[data.humidity]]%
        </div>
      </div>
    </template>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'cur-weather',
    properties: {
      appId: {
        type: String,
        value: '370ee8ecc07a1ed8046c5424b6d4d7fb'
      },
      units: {
        type: String,
        value: 'imperial'
      },
      lat: {
        type: String,
        value: "33.02"
      },
      lon: {
        type: String,
        value: '-96.7'
      }
    },
    iconMapping: {
      "01d": "wi-day-sunny",
      "01n": "wi-night-clear",
      "02d": "wi-day-cloudy",
      "02n": "wi-night-cloudy",
      "03d": "wi-cloudy",
      "03n": "wi-cloudy",
      "04d": "wi-cloudy",
      "04n": "wi-cloudy",
      "09d": "wi-showers",
      "09n": "wi-showers",
      "10d": "wi-day-rain",
      "10n": "wi-night-rain",
      "11d": "wi-thunderstorm",
      "11n": "wi-thunderstorm",
      "13d": "wi-snow",
      "13n": "wi-snow",
      "50d": "wi-fog",
      "50n": "wi-fog"
    },
    data: null,
    _getParams: function(lat, lon, appId, units) {
      var temp = {lat: lat, lon: lon, appId: appId, units: units};
      return temp;
    },
    _handleResponse: function(e) {
      var res = e.detail.response;
      this.data = {
        icon: this.iconMapping[res.weather[0].icon],
        conditiontext: res.weather[0].description,
        name: res.name,
        currentTemp: Math.round(res.main.temp),
        minTemp: Math.round(res.main.temp_min),
        maxTemp: Math.round(res.main.temp_max),
        humidity: res.main.humidity
      };
    },
    _showPosition: function(position) {
      this.lat = position.coords.latitude;
      this.lon = position.coords.longitude;
    },
    ready: function() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(this._showPosition);
      } else {
        console.log("Geolocation is not supported by this browser.");
      }
      this._getParams(this.lat, this.lon, this.appId, this.units);
    }
  });
</script>
